################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs
/backend/.vs
/backend/IndraShreeDesignStudio.API/obj
/backend/IndraShreeDesignStudio.Application/obj
/backend/IndraShreeDesignStudio.Domain/obj
/backend/IndraShreeDesignStudio.Infrastructure/obj
